.CS{
  border-right: 15px black solid;
  border-left: 15px black solid;
  border-top: 15px black solid;
  border-bottom: 15px black solid;
}

.buy{
  border-right: 15px black solid;
  border-left: 15px black solid;
  border-top: 15px black solid;
  border-bottom: 15px black solid;
}
